*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
}
#form{
    max-width: 400px;
    width: 100%;
    height: 100vh;
    border: 1px solid;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 40px 20px;
    row-gap: 15px;
    background-image: linear-gradient(to left top , rgb(247, 174, 186),rgb(241, 164, 241));
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#chat-img{
    align-self: center;
    width: 100%;
    height: 50%;
    object-fit: contain;
}
#form h1{
    text-align: center;
    color: rgb(187, 138, 73);
}
#name{
   width: 70%;
   padding:10px;
   border-radius: 20px; 
   border: none;
   outline: none;
   font-size: medium;
align-self: center;
background-color: rgb(241, 216, 182);
color: rgb(133, 132, 132);

}
#img-lable{
    width: 70%;
    padding:10px;
    border-radius: 20px; 
    border: none;
    outline: none;
    font-size: medium;
 align-self: center;
 background-color: rgb(241, 216, 182);
 display: flex;
 align-items: center;
 color: rgb(133, 132, 132);
}
#img-lable p{
    width: 100%;
}
#file{
    display: none;
}
#name:is(:focus){
    padding: 10px 15px;
    background-color: white;
}
#reg-btn{
    width: 100px;
    padding: 10px ;
    font-size: medium;
    font-weight: 600;
    border-radius: 25px;
    margin-top: 20px;
    border: none;
    background-color: burlywood;
    box-shadow: 2px 2px 2px 1px rgb(236, 208, 168);
    align-self: center;
}
#reg-btn:active{
    box-shadow: 0px 0px 0px 0px ;
transform: translateY(2px);
}
::-webkit-file-upload-button{
    padding: 6px;
    border: none;
    border-radius: 20px;
    background-color: burlywood;
}

.messages{
    max-width: 400px;
    width: 100%;
    height: 105vh;
    border: 1px solid;
    border-radius: 30px;
    position: absolute;
    display: none;
    z-index: 1000;
}
.profile{
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 70px;
    align-items: center;
    padding: 10px 10px;
    background-color: rgb(238, 221, 199);
    border-radius: 30px 30px 0px 0px;
}
#icon-right{
    font-size: large;
    color: burlywood;
}
#user-name{
    max-width: 180px;
    width: 100%;
    padding: 5px 8px;
    overflow-x: auto;
    text-align: center;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

#icon{
    font-size: 40px;
    width: 50px;
    height: 54px;
    border-radius: 50%;
    line-height: 54px;
    color: burlywood;
}

img{
    width: 50px;
    height: 54px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}
.user-image{
    display: none;
}

.chat-box{
    width: 100%;
    max-height: 93.1vh;
    border-radius: 30px;
    height: 100%;
background-image: linear-gradient(to left top , rgb(247, 174, 186),rgb(241, 164, 241));

}
.send-message{
    width: 100%;
    position: absolute;
    bottom: 10px;
    /* background-color: rgb(238, 221, 199); */
    padding: 8px 5px 31px;
    border-radius: 0px 0px 30px 30px;
}
.send{
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 5px;
}
.sen{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding-left: 10px;
}
#user-input{
    width: 100%;
    padding: 15px 10px;
    border-radius: 20px;
    outline: none;
    border: none;
}
#send-btn{
    width: 60px;
    text-align: center;
    background-color: burlywood;
    padding: 9.5px 0px;
    border-radius: 0px 20px 20px 0px;
    color: rgb(29, 224, 29);
    font-size: 26px;
    display: none;
}
#user-message{
    width: 100%;
    max-height: 75vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 2px 5px;
}
.user{
    width: auto;
    padding: 6px 10px;
    align-self: flex-end;
    text-align: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:medium;
    margin-top: 10px;
    list-style: none;
    border-radius: 25px 0px 0px 25px;
    background-color: rgb(241, 212, 174);
}
.auto-answer{
    width: auto;
    padding: 6px 10px;
    align-self: flex-start;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:medium;
    margin-top: 10px;
    list-style: none;
    border-radius: 0px 25px 25px 0px;
    background-color: rgb(241, 212, 174);
}
::-webkit-scrollbar{
    width: 5px;
    border-radius: 20px;
    box-shadow: inset 1px 1px 5px 1px rgb(216, 212, 212);
    position: absolute;
}
::-webkit-scrollbar-thumb{
    border-radius: 20px;
    width: 5px;
    background-color: rgb(160, 159, 159);
}
@media only screen and (max-width:500px) {
    #form{
        max-width: 100%;
        border: none;
        border-radius: 0px;
    }
    .messages{
        border: none;
        border-radius: 0px;
        max-width: 450px;
        height: 100vh;
    }
    .profile{
        border-radius: 0px;
    }
    .send-message{
        max-width: 450px;
width: 100%;
        border-radius: 0px;
    }
    .send{
        max-width: 450px;
width: 100%;
    }
    .chat-box{
        width: 100%;
        height: 100%;
    background-image: linear-gradient(to left top , rgb(247, 174, 186),rgb(241, 164, 241));
    
    }
    #user-message{
        max-height: 70vh;
    }
}